body{
	background-color: #faeeed;
}

#nav{
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	margin: 0;
}

#nav>ul>li{
	display: inline-block;
	margin-right: 30px;
}

li>a{
	text-decoration: none;
	color: #4863a3;
	font-size: 1.4rem;
}

.logo{
	font-size: 2rem;
	color: #d1562a;
}

h2{
	padding: 10px;
	margin: 10px auto;
	font-family: sans-serif;
	margin-bottom: 10px;
	border-bottom: 1.3px solid blue;
	text-align: center;
	width: 60%;
}

#flex{
	display: flex;
	flex-direction: row;
}

#ongoingEvent{
	width: 40%;
	padding: 10px;
	border-radius: 5px;
	border: 1px dotted black;
	background-color: #9b92f7;
	box-shadow: 0 0 10px #eb8715;
	min-width: 400px;
	margin: 20px auto;
}

#ongoingEvent>div{
	padding: 7px;
}

#upcomingEvent{
	width: 40%;
	padding: 10px;
	border-radius: 5px;
	border: 1px dotted black;
	background-color: #9b92f7;
	box-shadow: 0 0 10px #eb8715;
	min-width: 400px;
	margin: 20px auto;
}

#upcomingEvent>div{
	padding: 7px;
}

span{
	margin: 10px;
}

.purpose{
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	display: block;
	text-align: center;
	font-weight: bolder;
	font-size: 1.4rem;
	font-family: sans-serif;
	margin-bottom: 5px;
	border-bottom: 1px solid blue;
}

.infoType{
	font-size: 1.2rem;
	font-weight: bold;

}

.info{
	font-size: 1.2rem;
	color: #261808;
}

button{
	width: 7rem;
	padding: 10px;
	border-radius: 10px;
	transition: background-color 1s, border-color 1s;
	float: right;
	display: block;
	margin: 0 auto;
}

button:hover{
	background-color: #55c6f2;
	border-color: red;
}